absl-py==1.3.0
altair==5.0.1
asgiref==3.7.2
asttokens==2.0.8
astunparse==1.6.3
async-generator==1.10
attrs==22.1.0
autopep8==1.6.0
backcall==0.2.0
bcrypt==4.0.1
beautifulsoup4==4.12.2
blinker==1.6.2
blis==0.7.9
blosc2==2.0.0
bs4==0.0.1
cachetools==5.2.0
catalogue==2.0.8
catboost==1.1.1
category-encoders==2.6.1
certifi==2022.9.24
cffi==1.15.1
charset-normalizer==2.1.1
click==8.1.3
colorama==0.4.6
confection==0.1.0
cryptography==41.0.1
cv==1.0.0
cycler==0.11.0
cymem==2.0.7
Cython==3.0.0
debugpy==1.6.3
decorator==5.1.1
distlib==0.3.6
Django==4.2.1
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.6.0/en_core_web_sm-3.6.0-py3-none-any.whl#sha256=83276fc78a70045627144786b52e1f2728ad5e29e5e43916ec37ea9c26a11212
entrypoints==0.4
et-xmlfile==1.1.0
exceptiongroup==1.0.0rc9
executing==1.0.0
fastjsonschema==2.16.2
filelock==3.12.0
Flask==2.3.2
flatbuffers==23.1.21
fonttools==4.37.1
gast==0.4.0
gitdb==4.0.10
GitPython==3.1.31
google-auth==2.15.0
google-images-download==2.8.0
google-pasta==0.2.0
graphviz==0.20.1
grpcio==1.51.1
h11==0.14.0
h5py==3.7.0
httplib2==0.21.0
idna==3.4
image==1.5.33
imageio==2.25.1
importlib-metadata==6.6.0
iniconfig==2.0.0
ipykernel==6.15.2
ipython==8.5.0
ipython-autotime==0.3.1
ipyvizzu==0.13.0
itsdangerous==2.1.2
jax==0.4.11
jedi==0.18.1
Jinja2==3.1.2
joblib==1.2.0
jsonschema==4.17.0
jupyter-core==4.11.1
jupyter_client==7.3.5
keras==2.11.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.4
langcodes==3.3.0
libclang==15.0.6.1
lxml==4.9.2
Markdown==3.4.1
markdown-it-py==2.2.0
MarkupSafe==2.1.1
matplotlib==3.5.3
matplotlib-inline==0.1.6
mdurl==0.1.2
MechanicalSoup==1.2.0
missingno==0.5.1
ml-dtypes==0.1.0
mlxtend==0.21.0
mpi4py==3.1.4
msgpack==1.0.5
murmurhash==1.0.9
nbformat==5.7.0
nbmerge==0.0.4
nest-asyncio==1.5.5
networkx==3.0
nltk==3.7
numexpr==2.8.4
numpy==1.23.5
oauthlib==3.2.2
opencv-python==4.7.0.72
openpyxl==3.0.10
opt-einsum==3.3.0
outcome==1.2.0
packaging==21.3
pandas==1.4.4
parso==0.8.3
pathy==0.10.2
patsy==0.5.3
pdfminer.six==20221105
pdfplumber==0.10.0
pickleshare==0.7.5
Pillow==9.2.0
platformdirs==3.5.1
plotly==5.11.0
pluggy==1.0.0
preshed==3.0.8
prompt-toolkit==3.0.31
protobuf==3.20
streamlit==1.9.0
streamlit_webrtc==0.37.0
typing_extensions==4.1.1
psutil==5.9.2
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyarrow==12.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.8.0
pycountry==22.3.5
pycparser==2.21
pydantic==1.10.11
pydeck==0.8.1b0
pygame==2.1.2
Pygments==2.13.0
Pympler==1.0.1
pynput==1.7.6
pyparsing==3.0.9
PyPDF2==3.0.1
pypdfium2==4.18.0
pyrsistent==0.19.2
PySocks==1.7.1
pysyncobj==0.3.12
pytest==7.3.1
python-dateutil==2.8.2
pytz==2022.2.1
pytz-deprecation-shim==0.1.0.post0
PyWavelets==1.4.1
pyzmq==23.2.1
regex==2022.9.13
requests==2.28.1
requests-oauthlib==1.3.1
rich==13.4.1
rsa==4.9
scikit-image==0.19.3
scikit-learn==1.1.3
scipy==1.9.3
seaborn==0.12.0
selenium==4.5.0
six==1.16.0
sklearn==0.0
smart-open==6.3.0
smmap==5.0.0
sniffio==1.3.0
sns==0.1
solver==0.0.4
sortedcontainers==2.4.0
soupsieve==2.4.1
spacy==3.6.0
spacy-legacy==3.0.12
spacy-loggers==1.0.4
spicy==0.16.0
sqlparse==0.4.4
srsly==2.4.6
stack-data==0.5.0
statsmodels==0.14.0
tables==3.8.0
tabulate==0.9.0
tenacity==8.1.0
tensorboard-plugin-wit==1.8.1
tensorflow==2.11.0
tensorflow-addons==0.20.0
tensorflow-estimator==2.13.0
tensorflow-hub==0.14.0
tensorflow-io-gcs-filesystem==0.31.0
tensorflow-text==2.10.0
termcolor==2.2.0
thinc==8.1.10
threadpoolctl==3.1.0
tifffile==2023.2.3
tmp==0.0.2
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
tornado==6.2
tqdm==4.64.1
traitlets==5.3.0
trio==0.22.0
trio-websocket==0.9.2
typeguard==2.13.3
typer==0.9.0
typing_extensions==4.5.0
tzdata==2023.3
tzlocal==4.3
urllib3==1.26.12
validators==0.20.0
virtualenv==20.23.0
wasabi==1.1.2
watchdog==3.0.0
wcwidth==0.2.5
Werkzeug==2.3.6
wordcloud==1.8.2.2
wrapt==1.14.1
wsproto==1.2.0
xgboost==1.7.2
zipp==3.15.0
